.jumbotron {
padding: 30px;
margin-bottom: 30px;
color: inherit;
background-image: url('ReubenLeaf3.jpg');
background-position: center;

}

.jumbotron h1,
.jumbotron .h1 {
color: #A0FFFF;
}

.jumbotron p {
margin-bottom: 15px;
font-size: 21px;
font-weight: 200;
color:#ffffff;
}
